<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:description" content="Discover how we help individuals, families, institutions and governments flash cryptocurrency to your wallet seamlessly."/>
    <meta name="keywords" content=" flash btc, flash usdt, bitcoin flashing, flash bitcoin, trust wallet flashing, real flash coins, flashing coin, flash coin"/>
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Brute Flash  || flash cryptocurrency to your wallet seamlessly </title>
  </head>
  <body>
    <div><%- body %></div>

  </body>
</html>
