<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.16, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-blockchain-480-96x96.png" type="image/x-icon">
  <meta name="description" content=" Generate and send flash cryptocurrency transaction">
  
  
  <title>Services</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=gfOVcB"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=gfOVcB" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.2" class="menu menu2 cid-u9qKP0buZs" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>
<section data-bs-version="5.2" class="header6 cid-u9K3cBloCa" id="header6-q">

    

    
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Our services</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Building fast and reliable flash solutions, we also biuld standard blockchain solutions to manage and tokenize value, helping to unlock greater economic opportunity for everyone, everywhere.&nbsp;</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Get started</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.2" class="features4 cid-u9K3jTtZ3M" id="features4-t">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Services</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/flash.webp" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Flashing</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Generate and send flash cryptocurrency transaction on several blockchain and layer 2 protocols with visibility on web3 wallet and popular cryptocurrency exchange.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/international-transfer.jpg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Cross-Border Payments</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Deliver real-time global payments without tying up capital in destination markets. Our proven technology and global network enable remittances,&nbsp;</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/earn3.png" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Custody</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Custody is critical to unlocking value, addressing growing demand for new asset classes, and building novel use cases across asset tokenization, stablecoin issuance, trading, staking and beyond.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.2" class="features16 cid-u9K3h4LoYQ" id="features16-r">

    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Integrate Digital Assets Seamlessly</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Today, businesses must leverage both digital assets and fiat to fuel their operations and need a reliable and scalable source of cost-efficient liquidity.<br>Businesses can access multiple liquidity pools and advanced trading features, including post-trade settlement, all through a single-API experience.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/digital-assets.jpg" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.2" class="features17 cid-u9K3hGLQfg" id="features17-s">
    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/fast.jpg" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Accelerate payments and reduce costs</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Enable wholesale and retail use cases by supporting a variety of participants including banks, fintechs, and members of the public.<br><br>Connect to domestic payment systems, core ledgers, and other CBDCs to reach new levels of innovation through programmability support and smart contracts.<br></p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</section>

<section data-bs-version="5.2" class="footer1 cid-u9qL2zNEEr" once="footers" id="footer1-7">

    

    
    
    <div class="container">
        <% include ./partials/footer %>
    </div>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: none;position: relative;height: 4rem;"><a href="/users/register/3161334" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/ai-website-builder.html">AI Website Software</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>  
</body>